# Mobile banner
<section class="pt-5 pb-5">
    <div class="container">
        <script type="application/javascript">
            var ad_idzone = "3984042",
                ad_width = "300",
                ad_height = "100"
        </script>
        <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
        <noscript>
            <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=3984042&output=noscript&type=300x100"
                width="300" height="100" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </noscript>        
    </div>
</section>

<script type="application/javascript" src="https://syndication.realsrv.com/splash.php?idzone=3984026"></script>

<script type="application/javascript" data-idzone="3985706" src="https://a.realsrv.com/nativeads-v2.js"></script>





# Desktop banner
<section class="pt-5 pb-5">
    <div class="container">
        <script type="application/javascript">
            var ad_idzone = "3983024",
                ad_width = "900",
                ad_height = "250"
        </script>
        <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
        <noscript>
            <iframe
                src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=3983024&output=noscript&type=900x250"
                width="900" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </noscript>
    </div>
</section>


<script type="application/javascript" data-idzone="3985722" src="https://a.realsrv.com/nativeads-v2.js" ></script>





# Push Notification
<script type="application/javascript">
    pn_idzone = 3986076;
    pn_sleep_seconds = 0;
    pn_is_self_hosted = 1;
    pn_soft_ask = 0;
    pn_filename = "/worker.js";
  </script>
  
  <script type="application/javascript" src="https://js.wpnsrv.com/pn.php"></script>