---
layout: default
---

<section class="bg-gray200 pt-5 pb-5">
  <div class="container">

    <script type="application/javascript">
      var ad_idzone = "3983024",
      ad_width = "900",
      ad_height = "250"
    </script>
    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
    <noscript>
      <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=3983024&output=noscript&type=900x250" width="900" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </noscript>
    
    <div class="row justify-content-center">
      <div class="col-md-8">

        <article class="card">

          {% if page.image %}
        
          <img class="card-img-top mb-2" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">
          {% endif %}

          <div class="card-body">

            <h1 class="display-4">
              {{page.title}}
            </h1>

            <small class="text-muted d-block mb-3">
              {% unless page.metadate == "hide" %}
              {{ page.date | date: '%B %d, %Y' }}
              {% endunless %}
              {% if page.author %}
              , by {{page.author | capitalize}}
              {% endif %}
            </small>

            {{ content }}
          </div>

        </article>

        <div id="amzn-assoc-ad-8c6d66eb-a112-4049-8dfc-94efa9df0ced"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=8c6d66eb-a112-4049-8dfc-94efa9df0ced"></script>

        <div class="PageNavigation">
          {% if page.next.url %}
          <a class="prev" href="{{site.baseurl}}{{page.next.url}}"><i class="fa fa-angle-left"></i> </a>
          {% endif %}
          {% if page.previous.url %}
          <a class="next" href="{{site.baseurl}}{{page.previous.url}}"><i class="fa fa-angle-right"></i></a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>